In [1]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgres://opexfclopritrp:4ef93ab4cbaa8ad1f21cfad2b47a6554b54cef14ec20d2884739e7f1b023ce26@ec2-174-129-37-15.compute-1.amazonaws.com:5432/d25ivq51vhhbqk')

In [17]:
sql = """
SELECT name, calories
FROM foods
"""

In [18]:
df = pd.read_sql_query(sql, engine)

In [19]:
df.head()

                  name  calories
0  A&W® Diet Root Beer       0.0
1  A&W® Diet Root Beer       0.0
2  A&W® Diet Root Beer       0.0
3  A&W® Diet Root Beer       0.0
4  A&W® Diet Root Beer       0.0

In [20]:
sql='SELECT * from restaurants'
pd.read_sql_query(sql, engine)

,id,name,created_at,updated_at
0,1,A&W Restaurants,2017-04-17 19:43:26.708904,2017-04-17 19:43:26.708904
1,2,Applebee's,2017-04-17 19:43:30.306405,2017-04-17 19:43:30.306405
2,3,Arby's,2017-04-17 19:43:35.190138,2017-04-17 19:43:35.190138
3,4,Atlanta Bread Company,2017-04-17 19:43:38.028008,2017-04-17 19:43:38.028008
4,5,Bojangle's Famous Chicken 'n Biscuits,2017-04-17 19:43:42.123451,2017-04-17 19:43:42.123451
5,6,Buffalo Wild Wings,2017-04-17 19:43:45.464748,2017-04-17 19:43:45.464748
6,7,Burger King,2017-04-17 19:43:48.697315,2017-04-17 19:43:48.697315
7,8,Captain D's,2017-04-17 19:43:52.541483,2017-04-17 19:43:52.541483
8,9,Carl's Jr.,2017-04-17 19:43:54.882161,2017-04-17 19:43:54.882161
9,10,Charley's Grilled Subs,2017-04-17 19:43:58.046722,2017-04-17 19:43:58.046722
10,11,Chick-fil-A,2017-04-17 19:44:00.012461,2017-04-17 19:44:00.012461
11,12,Chili's,2017-04-17 19:44:02.332547,2017-04-17 19:44:02.332547
12,13,Chipotle Mexican Grill,2017-04-17 19:44:07.278550,2017-04-17 19:44:07.278550
13,14,Church's,2017-04-17 19:44:09.808689,2017-04-17 19:44:09.808689
14,15,Corner Bakery Cafe,2017-04-17 19:44:12.227227,2017-04-17 19:44:12.227227
15,16,Dairy Queen,2017-04-17 19:44:17.611596,2017-04-17 19:44:17.611596
16,17,Denny's,2017-04-17 19:44:22.378138,2017-04-17 19:44:22.378138
17,18,El Pollo Loco,2017-04-17 19:44:27.434558,2017-04-17 19:44:27.434558
18,19,FATZ,2017-04-17 19:44:30.651478,2017-04-17 19:44:30.651478
19,20,Fazoli's,2017-04-17 19:44:35.594810,2017-04-17 19:44:35.594810
20,21,Five Guys Burgers and Fries,2017-04-17 19:44:38.564145,2017-04-17 19:44:38.564145
21,22,Golden Chick,2017-04-17 19:44:40.199051,2017-04-17 19:44:40.199051
22,23,Hardee's,2017-04-17 19:44:42.218097,2017-04-17 19:44:42.218097
23,24,IHOP,2017-04-17 19:44:44.674492,2017-04-17 19:44:44.674492
24,25,In-N-Out Burger,2017-04-17 19:44:49.443605,2017-04-17 19:44:49.443605
25,26,Jack in the Box,2017-04-17 19:44:50.887924,2017-04-17 19:44:50.887924
26,27,Jimmy Johns,2017-04-17 19:44:54.567983,2017-04-17 19:44:54.567983
27,28,Joe's Crab Shack,2017-04-17 19:44:56.410688,2017-04-17 19:44:56.410688
28,29,KFC,2017-04-17 19:45:00.098674,2017-04-17 19:45:00.098674
29,30,McDonald's,2017-04-17 19:45:03.270873,2017-04-17 19:45:03.270873
30,31,O'Charley's,2017-04-17 19:45:08.535181,2017-04-17 19:45:08.535181
31,32,Olive Garden,2017-04-17 19:45:09.967888,2017-04-17 19:45:09.967888
32,33,Outback Steakhouse,2017-04-17 19:45:13.865069,2017-04-17 19:45:13.865069
33,34,Panda Express,2017-04-17 19:45:17.907220,2017-04-17 19:45:17.907220
34,35,Panera Bread,2017-04-17 19:45:19.634420,2017-04-17 19:45:19.634420
35,36,Popeye's,2017-04-17 19:45:24.165435,2017-04-17 19:45:24.165435
36,37,Quiznos,2017-04-17 19:45:26.362187,2017-04-17 19:45:26.362187
37,38,Red Robin Gourmet Burgers,2017-04-17 19:45:29.394714,2017-04-17 19:45:29.394714
38,39,Romano's Macaroni Grill,2017-04-17 19:45:34.143486,2017-04-17 19:45:34.143486
39,40,Ruby Tuesday,2017-04-17 19:45:37.817662,2017-04-17 19:45:37.817662
40,41,Subway,2017-04-17 19:45:42.862150,2017-04-17 19:45:42.862150
41,42,Taco Bell,2017-04-17 19:45:48.887958,2017-04-17 19:45:48.887958
42,43,Taco Bueno,2017-04-17 19:45:51.691589,2017-04-17 19:45:51.691589
43,44,Wendy's,2017-04-17 19:45:54.221868,2017-04-17 19:45:54.221868

In [27]:
sql="""
SELECT *
FROM foods
where calories>100 and carbs>70
"""
pd.read_sql_query(sql,engine)

,id,name,category_id,restaurant_id,calories,fat,carbs,created_at,updated_at
0,10,A&W® Diet Root Beer Freeze (large),2,1,600,18,92,2017-04-17 19:43:29.507894,2017-04-17 19:43:29.507894
1,15,A&W® Root Beer,1,1,270,0,72,2017-04-17 19:43:29.542731,2017-04-17 19:43:29.542731
2,16,A&W® Root Beer,1,1,440,0,116,2017-04-17 19:43:29.549699,2017-04-17 19:43:29.549699
3,17,A&W® Root Beer,1,1,880,0,232,2017-04-17 19:43:29.562615,2017-04-17 19:43:29.562615
4,18,A&W® Root Beer,1,1,1760,0,464,2017-04-17 19:43:29.569811,2017-04-17 19:43:29.569811
5,19,A&W® Root Beer Float (large),2,1,640,10,136,2017-04-17 19:43:29.576945,2017-04-17 19:43:29.576945
6,20,A&W® Root Beer Float (medium),2,1,350,5,77,2017-04-17 19:43:29.585419,2017-04-17 19:43:29.585419
7,22,A&W® Root Beer Freeze (large),2,1,820,18,150,2017-04-17 19:43:29.599685,2017-04-17 19:43:29.599685
8,23,A&W® Root Beer Freeze (medium),2,1,480,10,89,2017-04-17 19:43:29.606776,2017-04-17 19:43:29.606776
9,26,Blue Raspberry Slushee,1,1,370,0,91,2017-04-17 19:43:29.627441,2017-04-17 19:43:29.627441
10,27,Blue Raspberry Slushee,1,1,570,0,142,2017-04-17 19:43:29.634462,2017-04-17 19:43:29.634462
11,28,Blue Raspberry Slushee,1,1,740,0,182,2017-04-17 19:43:29.641432,2017-04-17 19:43:29.641432
12,38,Cherry Limeade,1,1,300,0,79,2017-04-17 19:43:29.737489,2017-04-17 19:43:29.737489
13,39,Cherry Limeade,1,1,340,0,90,2017-04-17 19:43:29.743833,2017-04-17 19:43:29.743833
14,40,Cherry Limeade,1,1,530,0,138,2017-04-17 19:43:29.750062,2017-04-17 19:43:29.750062
15,41,Cherry Slushee,1,1,330,0,83,2017-04-17 19:43:29.756169,2017-04-17 19:43:29.756169
16,42,Cherry Slushee,1,1,450,0,112,2017-04-17 19:43:29.762286,2017-04-17 19:43:29.762286
17,43,Cherry Slushee,1,1,570,0,141,2017-04-17 19:43:29.775028,2017-04-17 19:43:29.775028
18,44,Cherry Slushee,1,1,900,0,224,2017-04-17 19:43:29.781555,2017-04-17 19:43:29.781555
19,50,Chocolate Fudge Blendrrr,4,1,560,32,92,2017-04-17 19:43:29.823543,2017-04-17 19:43:29.823543
20,51,Chocolate Fudge Blendrrr,4,1,1010,59,152,2017-04-17 19:43:29.829707,2017-04-17 19:43:29.829707
21,52,Chocolate Milkshake (medium),2,1,880,36,125,2017-04-17 19:43:29.836474,2017-04-17 19:43:29.836474
22,53,Chocolate Milkshake (small),2,1,700,29,100,2017-04-17 19:43:29.843462,2017-04-17 19:43:29.843462
23,69,Lemon Slushee,1,1,330,0,82,2017-04-17 19:43:29.947897,2017-04-17 19:43:29.947897
24,70,Lemon Slushee,1,1,440,0,110,2017-04-17 19:43:29.953432,2017-04-17 19:43:29.953432
25,71,Lemon Slushee,1,1,560,0,139,2017-04-17 19:43:29.958944,2017-04-17 19:43:29.958944
26,72,Lemon Slushee,1,1,890,0,221,2017-04-17 19:43:29.964590,2017-04-17 19:43:29.964590
27,74,Lime Slushee,1,1,380,0,94,2017-04-17 19:43:29.975289,2017-04-17 19:43:29.975289
28,75,Lime Slushee,1,1,480,0,119,2017-04-17 19:43:29.986979,2017-04-17 19:43:29.986979
29,76,Lime Slushee,1,1,770,0,188,2017-04-17 19:43:29.992447,2017-04-17 19:43:29.992447
...,...,...,...,...,...,...,...,...,...
976,4578,New York Cheesecake,4,40,736,60,84,2017-04-17 19:45:42.561797,2017-04-17 19:45:42.561797
977,4580,Parmesan Chicken Pasta,5,40,1418,77,111,2017-04-17 19:45:42.574628,2017-04-17 19:45:42.574628
978,4581,Parmesan Shrimp Pasta,5,40,1065,54,88,2017-04-17 19:45:42.579969,2017-04-17 19:45:42.579969
979,4582,Parmesan Shrimp Pasta (with linguini),5,40,1001,54,75,2017-04-17 19:45:42.585342,2017-04-17 19:45:42.585342
980,4622,Ruby Minis,12,40,915,53,78,2017-04-17 19:45:42.833681,2017-04-17 19:45:42.833681
981,4750,Berry Pomegranate Frutista Freeze®,1,42,310,0,75,2017-04-17 19:45:51.179283,2017-04-17 19:45:51.179283
982,4779,Crunchwrap Supreme®,27,42,540,21,71,2017-04-17 19:45:51.363059,2017-04-17 19:45:51.363059
983,4792,Fiesta Taco Salad-Beef,11,42,780,42,74,2017-04-17 19:45:51.440235,2017-04-17 19:45:51.440235
984,4810,Mango Strawberry Frutista Freeze®,1,42,300,0,75,2017-04-17 19:45:51.549650,2017-04-17 19:45:51.549650
985,4816,Nachos BellGrande®,27,42,780,43,79,2017-04-17 19:45:51.586463,2017-04-17 19:45:51.586463
986,4826,Volcano Burrito,24,42,780,41,80,2017-04-17 19:45:51.644935,2017-04-17 19:45:51.644935
987,4827,Volcano Nachos,27,42,990,61,89,2017-04-17 19:45:51.650760,2017-04-17 19:45:51.650760
988,4828,Volcano Nachos,27,42,990,61,89,2017-04-17 19:45:51.662878,2017-04-17 19:45:51.662878
989,4830,XXL Grilled Stuft Burrito – Beef,24,42,880,42,95,2017-04-17 19:45:51.674791,2017-04-17 19:45:51.674791
990,4831,XXL Grilled Stuft Burrito – Chicken,24,42,840,35,92,2017-04-17 19:45:51.680279,2017-04-17 19:45:51.680279
991,4832,XXL Grilled Stuft Burrito – Steak,24,42,820,36,92,2017-04-17 19:45:51.685975,2017-04-17 19:45:51.685975
992,4844,BC Vegetarian Black Bean Burrito Without Sour ...,24,43,440,10,71,2017-04-17 19:45:53.781076,2017-04-17 19:45:53.781076
993,4851,Beef Mucho Nachos®,27,43,1567,97,127,2017-04-17 19:45:53.821953,2017-04-17 19:45:53.821953
994,4869,Chicken Mucho Nachos®,27,43,1505,90,128,2017-04-17 19:45:53.939374,2017-04-17 19:45:53.939374
995,4888,Mexican Rice,3,43,469,12,83,2017-04-17 19:45:54.075116,2017-04-17 19:45:54.075116
996,4889,MexiDips & Chips®,3,43,1086,62,105,2017-04-17 19:45:54.081222,2017-04-17 19:45:54.081222
997,4908,Strawberry,2,43,325,0,85,2017-04-17 19:45:54.201956,2017-04-17 19:45:54.201956
998,4950,Large Caramel Frosty™ Shake,2,44,990,18,195,2017-04-17 19:45:56.529931,2017-04-17 19:45:56.529931
999,4952,Large Chocolate Frosty™ Shake,2,44,870,17,164,2017-04-17 19:45:56.541203,2017-04-17 19:45:56.541203
1000,4954,Large Original Chocolate Frosty™,2,44,590,15,97,2017-04-17 19:45:56.559015,2017-04-17 19:45:56.559015
1001,4955,Large Strawberry Frosty™ Shake,2,44,780,15,149,2017-04-17 19:45:56.564497,2017-04-17 19:45:56.564497
1002,4956,Large Vanilla Frosty™,2,44,560,14,93,2017-04-17 19:45:56.571453,2017-04-17 19:45:56.571453
1003,4961,Small Caramel Frosty™ Shake,2,44,650,14,121,2017-04-17 19:45:56.600690,2017-04-17 19:45:56.600690
1004,4963,Small Chocolate Frosty™ Shake,2,44,580,0,104,2017-04-17 19:45:56.612115,2017-04-17 19:45:56.612115
1005,4966,Small Strawberry Frosty™ Shake,2,44,540,12,97,2017-04-17 19:45:56.629107,2017-04-17 19:45:56.629107

In [31]:
sql="""
SELECT name 
FROM foods
where calories>100 and carbs>70
"""
pd.read_sql_query(sql,engine)

                                                   name
0                    A&W® Diet Root Beer Freeze (large)
1                                        A&W® Root Beer
2                                        A&W® Root Beer
3                                        A&W® Root Beer
4                                        A&W® Root Beer
5                          A&W® Root Beer Float (large)
6                         A&W® Root Beer Float (medium)
7                         A&W® Root Beer Freeze (large)
8                        A&W® Root Beer Freeze (medium)
9                                Blue Raspberry Slushee
10                               Blue Raspberry Slushee
11                               Blue Raspberry Slushee
12                                       Cherry Limeade
13                                       Cherry Limeade
14                                       Cherry Limeade
15                                       Cherry Slushee
16                                       Cherry Slushee
17                                       Cherry Slushee
18                                       Cherry Slushee
19                             Chocolate Fudge Blendrrr
20                             Chocolate Fudge Blendrrr
21                         Chocolate Milkshake (medium)
22                          Chocolate Milkshake (small)
23                                        Lemon Slushee
24                                        Lemon Slushee
25                                        Lemon Slushee
26                                        Lemon Slushee
27                                         Lime Slushee
28                                         Lime Slushee
29                                         Lime Slushee
...                                                 ...
976                                 New York Cheesecake
977                              Parmesan Chicken Pasta
978                               Parmesan Shrimp Pasta
979               Parmesan Shrimp Pasta (with linguini)
980                                          Ruby Minis
981                  Berry Pomegranate Frutista Freeze®
982                                 Crunchwrap Supreme®
983                              Fiesta Taco Salad-Beef
984                   Mango Strawberry Frutista Freeze®
985                                  Nachos BellGrande®
986                                     Volcano Burrito
987                                      Volcano Nachos
988                                      Volcano Nachos
989                    XXL Grilled Stuft Burrito – Beef
990                 XXL Grilled Stuft Burrito – Chicken
991                   XXL Grilled Stuft Burrito – Steak
992   BC Vegetarian Black Bean Burrito Without Sour ...
993                                  Beef Mucho Nachos®
994                               Chicken Mucho Nachos®
995                                        Mexican Rice
996                                   MexiDips & Chips®
997                                          Strawberry
998                         Large Caramel Frosty™ Shake
999                       Large Chocolate Frosty™ Shake
1000                   Large Original Chocolate Frosty™
1001                     Large Strawberry Frosty™ Shake
1002                              Large Vanilla Frosty™
1003                        Small Caramel Frosty™ Shake
1004                      Small Chocolate Frosty™ Shake
1005                     Small Strawberry Frosty™ Shake

[1006 rows x 1 columns]

In [39]:
sql="""
SELECT foods.name,calories 
FROM foods
where foods.name ILIKE '%%Whopper%%'
AND foods.calories>900
ORDER BY foods.calories DESC
"""
pd.read_sql_query(sql,engine)

                                            name  calories
0                 Texas Triple Whopper® Sandwich      1270
1           Triple Whopper® Sandwich With Cheese      1230
2                       Triple Whopper® Sandwich      1140
3  Triple Whopper® Sandwich With Cheese w/o Mayo      1070
4                 Texas Double Whopper® Sandwich      1040
5           Double Whopper® Sandwich with Cheese       990
6              Triple Whopper® Sandwich w/o Mayo       980

In [47]:
sql = """
SELECT foods.name, foods.calories, foods.carbs, foods.fat, 
    restaurants.name AS restaurant, 
    categories.name AS category
FROM foods
INNER JOIN restaurants ON restaurants.id = foods.restaurant_id
INNER JOIN categories ON categories.id = foods.category_id
"""
pd.read_sql_query(sql, engine).head()

                  name  calories  carbs  fat       restaurant category
0  A&W® Diet Root Beer       0.0    0.0  0.0  A&W Restaurants   Drinks
1  A&W® Diet Root Beer       0.0    0.0  0.0  A&W Restaurants   Drinks
2  A&W® Diet Root Beer       0.0    0.0  0.0  A&W Restaurants   Drinks
3  A&W® Diet Root Beer       0.0    0.0  0.0  A&W Restaurants   Drinks
4  A&W® Diet Root Beer       0.0    0.0  0.0  A&W Restaurants   Drinks

In [52]:
sql = """
SELECT foods.name, foods.calories, foods.carbs, foods.fat, 
    restaurants.name AS restaurant, 
    categories.name AS category
FROM foods
INNER JOIN restaurants ON restaurants.id = foods.restaurant_id
INNER JOIN categories ON categories.id = foods.category_id
WHERE restaurants.name like '%%Wendy%%'
"""
pd.read_sql_query(sql, engine).head()

                         name  calories  carbs  fat restaurant      category
0  Vanilla Frosty Waffle Cone       290     53    6    Wendy's        Shakes
1          Value French Fries       220     28   11    Wendy's  French Fries
2          Value French Fries       220     28   11    Wendy's  French Fries
3      Ultimate Chicken Grill       370     43    7    Wendy's    Sandwiches
4      Spicy Chicken Sandwich       510     55   20    Wendy's    Sandwiches

In [57]:
sql = """
SELECT foods.name, foods.calories, foods.carbs, foods.fat, 
    restaurants.name AS restaurant, 
    categories.name AS category
FROM foods
INNER JOIN restaurants ON restaurants.id = foods.restaurant_id
INNER JOIN categories ON categories.id = foods.category_id
WHERE categories.name like '%%Shakes%%'
ORDER BY foods.calories DESC
"""
pd.read_sql_query(sql, engine).head(20)

,name,calories,carbs,fat,restaurant,category
0,"Malt, Peanut Butter – Large",1350,143.0,72,Dairy Queen,Shakes
1,"Shake, Oreo® Cookie w/ Whipped Topping 24 oz.",1170,134.0,61,Jack in the Box,Shakes
2,Chocolate Triple Thick® Shake,1160,203.0,27,McDonald's,Shakes
3,"Shake, Chocolate w/ Whipped Topping 24 oz.",1150,146.0,55,Jack in the Box,Shakes
4,"Shake, Strawberry w/ Whipped Topping 24 oz.",1120,138.0,54,Jack in the Box,Shakes
5,Monster Malt Raspberry,1105,168.0,30,Red Robin Gourmet Burgers,Shakes
6,"Malt, Hot Fudge – Large",1090,165.0,38,Dairy Queen,Shakes
7,"Malt, Caramel – Large",1080,178.0,31,Dairy Queen,Shakes
8,"Malt, Chocolate – Large",1020,171.0,32,Dairy Queen,Shakes
9,"Malt, Peanut Butter – Medium",1010,111.0,53,Dairy Queen,Shakes
10,"Shake, Vanilla w/ Whipped Topping 24 oz.",1000,109.0,54,Jack in the Box,Shakes
11,Large Caramel Frosty™ Shake,990,195.0,18,Wendy's,Shakes
12,Orange Freeze (medium),970,223.0,18,A&W Restaurants,Shakes
13,"Malt, Vanilla – Large",950,151.0,29,Dairy Queen,Shakes
14,Monster Shake Raspberry,936,138.0,27,Red Robin Gourmet Burgers,Shakes
15,Decadent Shakes,915,109.0,46,Applebee's,Shakes
16,"Malt, Cherry – Large",910,144.0,27,Dairy Queen,Shakes
17,Monster Malt Chocolate,904,148.0,31,Red Robin Gourmet Burgers,Shakes
18,Chocolate Milk Shake,900,163.0,21,Burger King,Shakes
19,Vanilla Milkshake (medium,900,121.0,39,A&W Restaurants,Shakes

In [59]:
sql = """
SELECT AVG(foods.calories), 
    categories.name AS category
FROM categories
INNER JOIN foods ON categories.id = foods.category_id
Group by categories.name
ORDER BY AVG(foods.calories) 
"""
pd.read_sql_query(sql, engine).head(20)

           avg              category
0    62.823529           Wing Sauces
1    79.285714                 Wings
2   101.428571             Tortillas
3   116.666667  Cream Cheese Spreads
4   216.010363                Coffee
5   243.734082                 Sides
6   246.852000                Drinks
7   286.684211                 Soups
8   287.795918                 Tacos
9   302.967647           Kid's Meals
10  313.333333               Nuggets
11  389.846154  Breakfast Sandwiches
12  426.666667               Fajitas
13  449.903743               Chicken
14  460.461538          French Fries
15  462.668555                Salads
16  464.716981                Breads
17  480.691517              Desserts
18  492.571429       Breakfast Tacos
19  532.500000               Paninis

In [62]:
sql = """
SELECT MAX(foods.calories), 
    restaurants.name
FROM restaurants
INNER JOIN foods ON restaurants.id = foods.restaurant_id
Group by restaurants.name
ORDER BY MAX(foods.calories) DESC
"""
pd.read_sql_query(sql, engine).head(20)

     max                                   name
0   8820  Bojangle's Famous Chicken 'n Biscuits
1   4220                     Corner Bakery Cafe
2   2750                       Joe's Crab Shack
3   2380                     Buffalo Wild Wings
4   2375                             Applebee's
5   2310                                Chili's
6   2090              Red Robin Gourmet Burgers
7   1989                                   FATZ
8   1841                          El Pollo Loco
9   1780                                   IHOP
10  1760                        A&W Restaurants
11  1674                           Ruby Tuesday
12  1670                Romano's Macaroni Grill
13  1600                            O'Charley's
14  1567                             Taco Bueno
15  1530                                Denny's
16  1474            Five Guys Burgers and Fries
17  1450                            Dairy Queen
18  1450                           Olive Garden
19  1350                                Quiznos

In [64]:
sql = """
SELECT foods.name, foods.calories,  
    restaurants.name AS restaurant, 
    categories.name AS category
FROM foods
INNER JOIN restaurants ON restaurants.id = foods.restaurant_id
INNER JOIN categories ON categories.id = foods.category_id
WHERE categories.name like '%%Kid%%'
ORDER BY foods.calories DESC
"""
pd.read_sql_query(sql, engine).head(20)

,name,calories,restaurant,category
0,Captain’s Catch,1060,Joe's Crab Shack,Kid's Meals
1,Kids OREO® Cookie Milkshake,780,Applebee's,Kid's Meals
2,Kid Beef Minis,779,Ruby Tuesday,Kid's Meals
3,Mini Beach Burgers,760,Joe's Crab Shack,Kid's Meals
4,Kids Mini Cheeseburgers – 2,740,Applebee's,Kid's Meals
5,Mac ‘N Cheese Kids’ Meal,735,Bojangle's Famous Chicken 'n Biscuits,Kid's Meals
6,Chicken Leg Kids’ meal,730,Bojangle's Famous Chicken 'n Biscuits,Kid's Meals
7,Red’s Pizzeria Pizza,690,Red Robin Gourmet Burgers,Kid's Meals
8,Kids’ OREO® Blender Blaster,690,Denny's,Kid's Meals
9,2 Piece Supremes Kids’ Meal,680,Bojangle's Famous Chicken 'n Biscuits,Kid's Meals
10,Kid Mac ‘n Cheese,680,Ruby Tuesday,Kid's Meals
11,Kid Turkey Minis,679,Ruby Tuesday,Kid's Meals
12,Kid’s Raspberry Malt,666,Red Robin Gourmet Burgers,Kid's Meals
13,Kid Grilled Cheese,664,Ruby Tuesday,Kid's Meals
14,Kids Mini Hamburger – 2,660,Applebee's,Kid's Meals
15,Chicken Strips With Fries,650,Romano's Macaroni Grill,Kid's Meals
16,Mac & Cheese,630,Romano's Macaroni Grill,Kid's Meals
17,Kids Grilled Cheese (sourdough bread),630,Applebee's,Kid's Meals
18,Kids Patty Cakes,621,Ruby Tuesday,Kid's Meals
19,Kids Grilled Cheese (Hawaiian bread),610,Applebee's,Kid's Meals